source ~/.intellimacs/spacemacs.vim

" (Optional) Enable other Intellimacs modules
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" (Optional) Enable which-key plugin
source ~/.intellimacs/which-key.vim

" source ~/helix.vim/helix.vim
source ~/helix.vim/helix.idea.vim

" Copy
" nnoremap y :action EditorCopy<CR>
" vnoremap y :action EditorCopy<CR>

" Cut
" nnoremap d :action EditorCut<CR>
vnoremap d :action EditorCut<CR>

" Paste
" nnoremap p :action EditorPaste<CR>
" vnoremap p :action EditorPaste<CR>

" Replace
" nnoremap R :action EditorPaste<CR>
" vnoremap R :action EditorPaste<CR>

" Method navigation
" nnoremap [m :action MethodUp<CR>
" vnoremap [m :action MethodUp<CR>
" nnoremap ]m :action MethodDown<CR>
" vnoremap ]m :action MethodDown<CR>

