# Broad checks, including style checks; no automatic fixes.
# Exclude rules for implementing LLVM libc itself.
Checks: '*,-llvmlibc-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  misc-const-correctness.WarnPointersAsValues: 'true'
  misc-const-correctness.WarnPointersAsPointers: 'true'
